@import url("https://fonts.googleapis.com/css?family=Poppins:700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:300i&display=swap");

body {
  background-color: #131418;
}

.headerMessage {
  font-family: Poppins;
  color: white;
  text-align: center;
  font-size: 9vw;
  margin-top: 0vh;
  margin-bottom: 1vh;
}

.headerMessage-gradiant {
  background: linear-gradient(to right, #ff8a00 0%, #da1b60 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headerMessage-last {
  color: #cccccc;
}

.siteDescription {
  text-align: center;
  color: white;
  font-family: Inconsolata;
  font-size: 1.7vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.playerInput {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

input {
  background-color: rgba(0, 0, 0, 0);
  font-family: Inconsolata;
  font-size: 18px;
  height: 6vh;
  width: 20vw;
  margin: 0.5vw;
  border-radius: 5px;
  outline: none;
  color: white;
  padding: 5px;
  font-size: 3vh;
}

.playerOneInputs {
  border: 1px solid #ff8a00;
}

.playerTwoInputs {
  border: 1px solid #da1b60;
}

input[type="number"] {
  -moz-appearance: textfield;
  width: 15vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.submitButton {
  border: 1px solid white;
  padding: 1vh;
}

input[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.082);
}

.statOutput {
  color: white;
  text-align: center;
  font-family: Poppins;
}

.compareTable {
  text-align: center;
  margin: 0 auto;
  border-collapse: collapse;
  width: 50vw;
  margin-bottom: 20vh;
  font-family: Muli;
}

.compareTable td,
.compareTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.compareTable tr:hover {
  background-color: rgba(255, 255, 255, 0.082);
}

.compareTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
  text-align: center;
}

.compareTable th:nth-child(2) {
  background-color: #ff8a00;
}

.compareTable th:nth-child(3) {
  background-color: #da1b60;
}
